
.DS_Store

Doing Time.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Doing Time.xcodeproj/project.xcworkspace/xcuserdata/rhwood.xcuserdatad/UserInterfaceState.xcuserstate

Doing Time.xcodeproj/xcuserdata/rhwood.xcuserdatad/xcschemes/Doing Time.xcscheme

Doing Time.xcodeproj/xcuserdata/rhwood.xcuserdatad/xcschemes/xcschememanagement.plist
